@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
  color: #213343;
  font-weight: 100;
}

.title {
  text-align: center;
  font-style: italic;
  font-size: 70px;
  padding: 20px;

  /* font-size: 78px; */
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: #f8a990;
  overflow-x: hidden;
  min-height: 100vh;
}

.background {
  background-size: cover;
  background-position: right;
  background-attachment: fixed;

  /* background-size: cover; */
}

.background > div {
  min-height: 100vh;
  backdrop-filter: blur(4px) brightness(.9);
}

.homeBackground {
  background-image: url('../src/assets/homeBackground.jpg');
}

.detailsBackgorund{
  background-image: url('../src/assets/detailBackground.jpg');
}

.formBackground {
  background-image: url('../src/assets/formBackground.jpg');
}