@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Londrina Solid', cursive;
  font-weight: 100;
}

.title {
  text-align: center;
  font-weight: 300;
  font-size: 78px;
}

img {
  width: 100%;
  height: auto;
}

html, #root, body {
  background-color: #ffe6cb;
  overflow-x: hidden;
  min-height: 100vh;
}